---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "blog";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
import BlogPost from "../components/BlogPost.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <html>
    <h1>Hi there!</h1>
    <h2>我的 Astro 学习博客</h2>
    <p>这是我的 Astro 学习笔记</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <li>
            {allPosts.map((post: any) => (
              <BlogPost url={post.url} title={post.frontmatter.title} />
            ))}
          </li>
        ))
      }
    </ul>
    <script>
      import "../scripts/menu.js";
    </script>
  </html>
</BaseLayout>
